@import "./resets";
@import "./variables";
@import "./functions";
@import "./mixins";


body {
    background: $background-color;
    color: $text-color;
}

.main {
    width: 80% - 40%;
    margin: 0 auto;
    @include flexCenter(row);
    #{&}-first-paragraph {
        font-weight: weight(small);
        &:hover {
            color: yellowgreen;
        }
    }
    #{&}-bold-paragraph {
        @extend .main-first-paragraph;
        font-weight: weight(bold);
    }
    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme(false);
}